.button-default-23 {
  align-items: center;
  background-color: var(--picton-blue);
  cursor: pointer;
  display: flex;
  gap: 10px;
  height: min-content;
  padding: 9px 15px;
  width: min-content;
}

.button-text {
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1px;
  min-width: 75px;
  white-space: nowrap;
}

.button-default-23.button-default .button-text,
.button-default-23.button-default-8 .button-text,
.button-default-23.button-default-13 .button-text,
.button-default-23.button-default-18 .button-text,
.button-default-23.button-default-21 .button-text,
.button-default-23.button-default-5-1 .button-text,
.button-default-23.button-default-5-2 .button-text,
.button-default-23.button-default-5 .button-text {
  min-width: 50px;
}

.button-default-23.button-default-7 {
  align-items: center;
  background-color: var(--picton-blue);
  cursor: pointer;
  display: flex;
  gap: 10px;
  height: min-content;
  margin-left: 65px;
  padding: 9px 15px;
  width: min-content;
}

.button-default-23.button-default-7 .button-text,
.button-default-23.button-default-9 .button-text,
.button-default-23.button-default-2-1 .button-text,
.button-default-23.button-default-16 .button-text,
.button-default-23.button-default-19 .button-text,
.button-default-23.button-default-22 .button-text,
.button-default-23.button-default-6-1 .button-text,
.button-default-23.button-default-2-2 .button-text,
.button-default-23.button-default-2 .button-text,
.button-default-23.button-default-6-2 .button-text,
.button-default-23.button-default-6 .button-text {
  min-width: 43px;
}

.button-default-23.button-default-9 {
  align-items: center;
  background-color: var(--picton-blue);
  cursor: pointer;
  display: flex;
  gap: 10px;
  height: min-content;
  margin-left: 61px;
  padding: 9px 15px;
  width: min-content;
}

.button-default-23.button-default-10 {
  align-items: center;
  background-color: var(--picton-blue);
  cursor: pointer;
  display: flex;
  gap: 10px;
  height: 40px;
  left: 457px;
  padding: 9px 15px;
  position: absolute;
  top: 2040px;
  width: min-content;
}

.button-default-23.button-default-10 .button-text {
  margin-top: unset;
  min-width: 153px;
}

.button-default-23.button-default-11 {
  align-items: center;
  background-color: var(--picton-blue);
  cursor: pointer;
  display: flex;
  gap: 10px;
  height: 40px;
  left: 798px;
  padding: 9px 15px;
  position: absolute;
  top: 2040px;
  width: min-content;
}

.button-default-23.button-default-11 .button-text {
  margin-top: unset;
  min-width: 50px;
}

.button-default-23.button-default-12 {
  align-items: center;
  background-color: var(--picton-blue);
  cursor: pointer;
  display: flex;
  gap: 10px;
  height: 40px;
  left: 937px;
  padding: 9px 15px;
  position: absolute;
  top: 2040px;
  width: min-content;
}

.button-default-23.button-default-12 .button-text {
  margin-top: unset;
  min-width: 43px;
}

.button-default-23.button-default-1,
.button-default-23.button-default-1-1,
.button-default-23.button-default-1-2,
.button-default-23.button-default-4,
.button-default-23.button-default-4-1,
.button-default-23.button-default-4-2 {
  left: 688px;
  position: absolute;
  top: 655px;
}

.button-default-23.button-default-1-1 .button-text,
.button-default-23.button-default-14 .button-text,
.button-default-23.button-default-17 .button-text,
.button-default-23.button-default-20 .button-text,
.button-default-23.button-default-4-1 .button-text,
.button-default-23.button-default-1-2 .button-text,
.button-default-23.button-default-1 .button-text,
.button-default-23.button-default-4-2 .button-text,
.button-default-23.button-default-4 .button-text {
  min-width: 153px;
}

.button-default-23.button-default-13 {
  align-items: center;
  background-color: var(--picton-blue);
  cursor: pointer;
  display: flex;
  gap: 10px;
  height: min-content;
  left: 1013px;
  padding: 9px 15px;
  position: absolute;
  top: 655px;
  width: min-content;
}

.button-default-23.button-default-2,
.button-default-23.button-default-2-1,
.button-default-23.button-default-2-2,
.button-default-23.button-default-6,
.button-default-23.button-default-6-1,
.button-default-23.button-default-6-2 {
  left: 1145px;
  position: absolute;
  top: 655px;
}

.button-default-23.button-default-3,
.button-default-23.button-default-3-1 {
  cursor: unset;
  left: 1013px;
  position: absolute;
  top: 655px;
}

.button-default-23.button-default-3-1 .button-text,
.button-default-23.button-default-15 .button-text,
.button-default-23.button-default-3 .button-text {
  cursor: pointer;
  min-width: 50px;
}

.button-default-23.button-default-15 {
  align-items: center;
  background-color: var(--picton-blue);
  display: flex;
  gap: 10px;
  height: min-content;
  margin-left: 158px;
  padding: 9px 15px;
  width: min-content;
}

.button-default-23.button-default-16,
.button-default-23.button-default-22 {
  align-items: center;
  background-color: var(--picton-blue);
  cursor: pointer;
  display: flex;
  gap: 10px;
  height: min-content;
  margin-left: 59px;
  padding: 9px 15px;
  width: min-content;
}

.button-default-23.button-default-17 {
  align-items: center;
  background-color: var(--picton-blue);
  cursor: pointer;
  display: flex;
  gap: 10px;
  height: min-content;
  left: 457px;
  padding: 9px 15px;
  position: absolute;
  top: 1909px;
  width: min-content;
}

.button-default-23.button-default-18 {
  align-items: center;
  background-color: var(--picton-blue);
  cursor: pointer;
  display: flex;
  gap: 10px;
  height: min-content;
  left: 798px;
  padding: 9px 15px;
  position: absolute;
  top: 1909px;
  width: min-content;
}

.button-default-23.button-default-19 {
  align-items: center;
  background-color: var(--picton-blue);
  cursor: pointer;
  display: flex;
  gap: 10px;
  height: min-content;
  left: 937px;
  padding: 9px 15px;
  position: absolute;
  top: 1909px;
  width: min-content;
}

.button-default-23.button-default-21 {
  align-items: center;
  background-color: var(--picton-blue);
  cursor: pointer;
  display: flex;
  gap: 10px;
  height: min-content;
  margin-left: 158px;
  padding: 9px 15px;
  width: min-content;
}

.button-default-23.button-default-5,
.button-default-23.button-default-5-1,
.button-default-23.button-default-5-2 {
  left: 1013px;
  position: absolute;
  top: 655px;
}

