.table {
  align-items: flex-start;
  display: flex;
  width: 426px;
}

.overlap-group-9 {
  height: 96px;
  position: relative;
  width: 426px;
}

.header-row {
  height: 56px;
  left: 0;
  position: absolute;
  top: 0;
  width: 426px;
}

.table.table-1 {
  height: 96px;
  left: 343px;
  position: absolute;
  top: 1332px;
}

.table.table-2 {
  height: 96px;
  left: 349px;
  position: absolute;
  top: 1120px;
}

