.header-left-aligned-no-subhead-regular-3 {
  background-color: var(--black-haze);
  box-shadow: inset 0px -1px 0px #dddddd , inset -1px 0px 0px #dddddd , inset 0px 1px 0px #dddddd;
  height: 48px;
  min-width: 213px;
}

.frame-13-1 {
  align-items: flex-start;
  display: flex;
  gap: 3px;
  height: min-content;
  left: 12px;
  position: relative;
  top: 16px;
  width: min-content;
}

