.other-service {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1080px;
  overflow: hidden;
  width: 1920px;
}

.nav-bar-6 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 73px;
  width: 1924px;
}

.flex-row-19 {
  align-items: center;
  display: flex;
  margin-right: 31.0px;
  min-width: 1663px;
}

.gray-line-worldwide-1-12 {
  height: 62px;
  object-fit: cover;
  width: 109px;
}

.flex-col-13 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 5.0px;
  margin-left: 14px;
  min-height: 47px;
  width: 220px;
}

.name-7 {
  -webkit-text-stroke: 1px var(--onyx);
  letter-spacing: 0;
  min-height: 21px;
  text-shadow: 0px 4px 4px #00000040;
}

.text-7 {
  -webkit-text-stroke: 1px var(--onyx);
  letter-spacing: 0;
  margin-top: 5px;
  min-height: 21px;
  text-shadow: 0px 4px 4px #00000040;
}

.overlap-group-6 {
  height: 36px;
  margin-bottom: 10.0px;
  margin-left: 198px;
  position: relative;
  width: 1122px;
}

.navbar-6 {
  align-items: flex-start;
  display: flex;
  gap: 79px;
  height: min-content;
  left: 30px;
  position: absolute;
  top: 12px;
  width: min-content;
}

.navbar-link-place-12 {
  cursor: pointer;
  height: 20px;
  letter-spacing: 0;
  margin-top: -1px;
  width: 49px;
}

.navbar-link-about-us-6 {
  color: #040404;
  cursor: pointer;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-weight: 400;
  height: 20px;
  letter-spacing: 0;
  margin-top: -1px;
  width: 87px;
}

.navbar-link-place-13 {
  cursor: pointer;
  height: 20px;
  letter-spacing: 0;
  margin-top: -1px;
  width: 47px;
}

.navbar-link-visa-card-promotion-6 {
  cursor: pointer;
  height: 20px;
  letter-spacing: 0;
  margin-top: -1px;
  width: 168px;
}

.navbar-link-other-services-12 {
  cursor: pointer;
  height: 20px;
  letter-spacing: 0;
  margin-top: -1px;
  width: 127px;
}

.navbar-link-other-services-13 {
  cursor: pointer;
  height: 20px;
  letter-spacing: 0;
  margin-top: -1px;
  width: 39px;
}

.navbar-link-contact-us-6 {
  height: 20px;
  letter-spacing: 0;
  margin-top: -1px;
  width: 101px;
}

.icon-home-6 {
  height: 32px;
  left: 0;
  position: absolute;
  top: 0;
  width: 32px;
}

.megaphone-6 {
  height: 32px;
  left: 418px;
  position: absolute;
  top: 4px;
  width: 32px;
}

.icon-call-6 {
  height: 32px;
  left: 989px;
  position: absolute;
  top: 4px;
  width: 32px;
}

.question-6 {
  height: 32px;
  left: 871px;
  position: absolute;
  top: 3px;
  width: 32px;
}

.users-three-6 {
  height: 32px;
  left: 126px;
  position: absolute;
  top: 4px;
  width: 32px;
}

.icon-plane-6 {
  height: 32px;
  left: 292px;
  position: absolute;
  top: 0;
  width: 32px;
}

.bag-6 {
  height: 32px;
  left: 665px;
  position: absolute;
  top: 1px;
  width: 32px;
}

.rectangle-58-12 {
  background-color: var(--eerie-black);
  height: 3px;
  margin-right: 4.0px;
  margin-top: 8px;
  width: 1920px;
}

.home-other-service {
  height: 15px;
  margin-left: 140.14px;
  margin-top: 35px;
  width: 221px;
}

.overlap-group2-3 {
  height: 911px;
  margin-left: -2px;
  margin-top: 35px;
  position: relative;
  width: 1924px;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: min-content;
  left: 366px;
  position: absolute;
  top: 0;
  width: min-content;
}

.intro-section {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: min-content;
  width: min-content;
}

.other-service-1 {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0;
  margin-top: -1px;
  min-width: 244px;
}

.footer-6 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 256px;
  position: absolute;
  top: 650px;
  width: 1924px;
}

.overlap-group1-6 {
  height: 3px;
  margin-right: 4.0px;
  position: relative;
  width: 1920px;
}

.line-1-6 {
  height: 1px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 1918px;
}

.rectangle-58-13 {
  background-color: var(--eerie-black);
  height: 3px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.flex-row-20 {
  align-items: center;
  display: flex;
  height: 239px;
  margin-left: 0;
  margin-top: 14px;
  min-width: 1632px;
}

.flex-col-14 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 239px;
  width: 452px;
}

.gray-line-worldwide-1-13 {
  height: 112px;
  margin-left: 7.0px;
  object-fit: cover;
  width: 194px;
}

.flex-row-21 {
  align-items: center;
  display: flex;
  margin-top: 8px;
  min-width: 452px;
}

.icon-location_pin-6 {
  height: 30px;
  width: 45px;
}

.surname-8 {
  letter-spacing: 0;
  margin-left: 11px;
  min-height: 26px;
  width: 396px;
}

.no-179-rua-do-campo-6 {
  letter-spacing: 0;
  margin-left: 7.0px;
  margin-top: 11px;
  min-height: 78px;
  width: 252px;
}

.frame-container-6 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-bottom: 45.0px;
  margin-left: 837px;
  min-height: 134px;
  width: 343px;
}

.frame-1-6 {
  align-items: flex-start;
  display: flex;
  gap: 60px;
  height: min-content;
  width: 343px;
}

.place-6 {
  letter-spacing: 0;
  margin-top: -1px;
  min-width: 59px;
}

.fqa-6 {
  cursor: pointer;
  letter-spacing: 0;
  margin-top: -1px;
  min-width: 42px;
}

.contact-us-6 {
  cursor: pointer;
  letter-spacing: 0;
  margin-top: -1px;
}

.frame-5-6 {
  align-items: center;
  display: flex;
  gap: 64px;
  height: min-content;
  margin-top: 60px;
  width: min-content;
}

.icon-6 {
  cursor: pointer;
  height: 48px;
  min-width: 48px;
}

