.rectangle-111111 {
  background-color: var(--rolling-stone);
  height: 1px;
  width: 548px;
  rows:5px;
  col:50px;
}
.text-field123 {
  display: flex;
  flex-direction: column-reverse;
  height:80px;
}

.textarea123 {
  max-width: 100%;
  height:100px;
}

