.header-left-aligned-no-subhead-regular {
  align-items: flex-end;
  background-color: var(--black-haze);
  box-shadow: inset 0px -1px 0px #dddddd , inset -1px 0px 0px #dddddd , inset 0px 1px 0px #dddddd;
  display: flex;
  height: 48px;
  min-width: 353px;
  padding: 4px 12px;
}

.frame-13 {
  align-items: flex-start;
  display: flex;
  gap: 3px;
  height: min-content;
  width: min-content;
}

.email {
  letter-spacing: 2.00px;
  line-height: 28.2px;
  margin-top: -1px;
  min-width: 327px;
  white-space: nowrap;
}

.header-left-aligned-no-subhead-regular.header-left-aligned-no-subhead-regular-1 {
  align-items: unset;
  display: unset;
  min-width: 213px;
  padding: unset;
}

.header-left-aligned-no-subhead-regular.header-left-aligned-no-subhead-regular-1 .frame-13 {
  left: 12px;
  position: relative;
  top: 16px;
}

.header-left-aligned-no-subhead-regular.header-left-aligned-no-subhead-regular-1 .email {
  min-width: 75px;
}

.header-left-aligned-no-subhead-regular.header-left-aligned-no-subhead-regular-2 .email {
  min-width: 199px;
}

