.promotion-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 993px;
  overflow: hidden;
  width: 1920px;
}

.overlap-group5-2 {
  height: 1236px;
  margin-top: -578px;
  position: relative;
  width: 2106px;
}

.group-container-2 {
  height: 947px;
  left: 79px;
  position: absolute;
  top: 289px;
  width: 1934px;
}

.overlap-group1-4 {
  height: 910px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1934px;
}

.mask-group-2 {
  height: 599px;
  left: 860px;
  position: absolute;
  top: 250px;
  width: 991px;
}

.x1-3 {
  height: 361px;
  left: 1258px;
  position: absolute;
  top: 549px;
  width: 361px;
}

.content1-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 338px;
  position: absolute;
  top: 519px;
  width: 1030px;
}

.promotion-turbojet {
  color: var(--sunshade);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxxl);
  font-weight: 600;
  height: 39px;
  letter-spacing: 0;
}


.x295-round-trip-economy-class-1 {
  height: 64px;
  letter-spacing: 0;
  line-height: 50px;
  margin-left: 17px;
  width: 482px;
}

.surname-5 {
  height: 210px;
  letter-spacing: 0;
  margin-left: 17px;
  margin-top: 25px;
  width: 698px;
}

.group-1 {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 48px;
  left: 17px;
  min-width: 218px;
  position: absolute;
  top: 899px;
}

.overlap-group-4 {
  align-items: center;
  background-color: var(--sunshade);
  border-radius: 69px;
  box-shadow: 0px 20px 40px #f4e1d0;
  display: flex;
  height: 48px;
  min-width: 163px;
  padding: 0 41px;
}

.book-now-2 {
  height: 20px;
  letter-spacing: 0;
  min-width: 75px;
}

.rectangle-2-7 {
  border-radius: 69px;
  box-shadow: 0px 20px 40px #f4e1d0;
  height: 2px;
  margin-left: 43px;
  margin-top: 2.0px;
  width: 10px;
}

.group-3-2 {
  align-items: flex-start;
  display: flex;
  height: 80px;
  left: 1050px;
  min-width: 80px;
  position: absolute;
  top: 750px;
  transform: rotate(-180deg);
}

.ellipse-5-1 {
  background-color: var(--sunshade);
  border-radius: 40px;
  box-shadow: 0px 10px 20px #f5ebe3;
  height: 80px;
  margin-left: -80px;
  margin-top: -80px;
  transform: rotate(-360deg);
  width: 80px;
}

.rectangle-2-8 {
  align-self: flex-end;
  height: 76px;
  margin-bottom: 3.0px;
  margin-left: 25px;
  transform: rotate(-180deg);
  width: 26px;
}

.home-visa-card-promotion-2 {
  height: 15px;
  left: 109px;
  position: absolute;
  top: 686px;
  width: 283px;
}

.nav-bar-4 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 73px;
  position: absolute;
  top: 578px;
  width: 1924px;
}

.flex-row-13 {
  align-items: center;
  display: flex;
  margin-right: 31.0px;
  min-width: 1663px;
}

.gray-line-worldwide-1-8 {
  height: 62px;
  object-fit: cover;
  width: 109px;
}

.flex-col-9 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 5.0px;
  margin-left: 14px;
  min-height: 47px;
  width: 220px;
}

.name-5 {
  -webkit-text-stroke: 1px var(--onyx);
  letter-spacing: 0;
  min-height: 21px;
  text-shadow: 0px 4px 4px #00000040;
}

.text-5 {
  -webkit-text-stroke: 1px var(--onyx);
  letter-spacing: 0;
  margin-top: 5px;
  min-height: 21px;
  text-shadow: 0px 4px 4px #00000040;
}

.overlap-group4-2 {
  height: 36px;
  margin-bottom: 10.0px;
  margin-left: 198px;
  position: relative;
  width: 1122px;
}

.navbar-4 {
  align-items: flex-start;
  display: flex;
  gap: 79px;
  height: min-content;
  left: 30px;
  position: absolute;
  top: 12px;
  width: min-content;
}

.navbar-link-place-8 {
  cursor: pointer;
  height: 20px;
  letter-spacing: 0;
  margin-top: -1px;
  width: 49px;
}

.navbar-link-about-us-4 {
  cursor: pointer;
  height: 20px;
  letter-spacing: 0;
  margin-top: -1px;
  width: 87px;
}

.navbar-link-place-9 {
  cursor: pointer;
  height: 20px;
  letter-spacing: 0;
  margin-top: -1px;
  width: 47px;
}

.navbar-link-visa-card-promotion-4 {
  cursor: pointer;
  height: 20px;
  letter-spacing: 0;
  margin-top: -1px;
  width: 168px;
}

.navbar-link-other-services-8 {
  cursor: pointer;
  height: 20px;
  letter-spacing: 0;
  margin-top: -1px;
  width: 127px;
}

.navbar-link-other-services-9 {
  cursor: pointer;
  height: 20px;
  letter-spacing: 0;
  margin-top: -1px;
  width: 39px;
}

.navbar-link-contact-us-4 {
  height: 20px;
  letter-spacing: 0;
  margin-top: -1px;
  width: 101px;
}

.icon-home-4 {
  height: 32px;
  left: 0;
  position: absolute;
  top: 0;
  width: 32px;
}

.megaphone-4 {
  height: 32px;
  left: 418px;
  position: absolute;
  top: 4px;
  width: 32px;
}

.icon-call-4 {
  height: 32px;
  left: 989px;
  position: absolute;
  top: 4px;
  width: 32px;
}

.question-4 {
  height: 32px;
  left: 871px;
  position: absolute;
  top: 3px;
  width: 32px;
}

.users-three-4 {
  height: 32px;
  left: 126px;
  position: absolute;
  top: 4px;
  width: 32px;
}

.icon-plane-4 {
  height: 32px;
  left: 292px;
  position: absolute;
  top: 0;
  width: 32px;
}

.bag-4 {
  height: 32px;
  left: 665px;
  position: absolute;
  top: 1px;
  width: 32px;
}

.rectangle-58-8 {
  background-color: var(--eerie-black);
  height: 3px;
  margin-right: 4.0px;
  margin-top: 8px;
  width: 1920px;
}

.footer-4 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-top: 65px;
  min-height: 256px;
  width: 1924px;
}

.overlap-group3-3 {
  height: 3px;
  margin-right: 4.0px;
  position: relative;
  width: 1920px;
}

.line-1-4 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.rectangle-58-9 {
  background-color: var(--eerie-black);
  height: 3px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.flex-row-14 {
  align-items: center;
  display: flex;
  height: 239px;
  margin-right: 0;
  margin-top: 14px;
  min-width: 1632px;
}

.flex-col-10 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 239px;
  width: 452px;
}

.gray-line-worldwide-1-9 {
  height: 112px;
  margin-left: 7.0px;
  object-fit: cover;
  width: 194px;
}

.flex-row-15 {
  align-items: center;
  display: flex;
  margin-top: 8px;
  min-width: 452px;
}

.icon-location_pin-4 {
  height: 30px;
  width: 45px;
}

.surname-6 {
  letter-spacing: 0;
  margin-left: 11px;
  min-height: 26px;
  width: 396px;
}

.no-179-rua-do-campo-4 {
  letter-spacing: 0;
  margin-left: 7.0px;
  margin-top: 11px;
  min-height: 78px;
  width: 252px;
}

.frame-container-4 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-bottom: 45.0px;
  margin-left: 837px;
  min-height: 134px;
  width: 343px;
}

.frame-1-4 {
  align-items: flex-start;
  display: flex;
  gap: 60px;
  height: min-content;
  width: 343px;
}

.place-4 {
  letter-spacing: 0;
  margin-top: -1px;
  min-width: 59px;
}

.fqa-4 {
  cursor: pointer;
  letter-spacing: 0;
  margin-top: -1px;
  min-width: 42px;
}

.contact-us-4 {
  cursor: pointer;
  letter-spacing: 0;
  margin-top: -1px;
}

.frame-5-4 {
  align-items: center;
  display: flex;
  gap: 64px;
  height: min-content;
  margin-top: 60px;
  width: min-content;
}

.icon-4 {
  cursor: pointer;
  height: 48px;
  min-width: 48px;
}

