.tour4 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 2693px;
  overflow: hidden;
  width: 1920px;
}

.nav-bar-8 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 73px;
  width: 1924px;
}

.flex-row-25 {
  align-items: center;
  display: flex;
  margin-right: 31.0px;
  min-width: 1663px;
}

.gray-line-worldwide-1-16 {
  height: 62px;
  object-fit: cover;
  width: 109px;
}

.flex-col-17 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 5.0px;
  margin-left: 14px;
  min-height: 47px;
  width: 220px;
}

.name-9 {
  -webkit-text-stroke: 1px var(--onyx);
  letter-spacing: 0;
  min-height: 21px;
  text-shadow: 0px 4px 4px #00000040;
}

.text-9 {
  -webkit-text-stroke: 1px var(--onyx);
  letter-spacing: 0;
  margin-top: 5px;
  min-height: 21px;
  text-shadow: 0px 4px 4px #00000040;
}

.overlap-group2-5 {
  height: 36px;
  margin-bottom: 10.0px;
  margin-left: 198px;
  position: relative;
  width: 1122px;
}

.navbar-8 {
  align-items: flex-start;
  display: flex;
  gap: 79px;
  height: min-content;
  left: 30px;
  position: absolute;
  top: 12px;
  width: min-content;
}

.navbar-link-place-16 {
  cursor: pointer;
  height: 20px;
  letter-spacing: 0;
  margin-top: -1px;
  width: 49px;
}

.navbar-link-about-us-8 {
  cursor: pointer;
  height: 20px;
  letter-spacing: 0;
  margin-top: -1px;
  width: 87px;
}

.navbar-link-place-17 {
  cursor: pointer;
  height: 20px;
  letter-spacing: 0;
  margin-top: -1px;
  width: 47px;
}

.navbar-link-visa-card-promotion-8 {
  cursor: pointer;
  height: 20px;
  letter-spacing: 0;
  margin-top: -1px;
  width: 168px;
}

.navbar-link-other-services-16 {
  cursor: pointer;
  height: 20px;
  letter-spacing: 0;
  margin-top: -1px;
  width: 127px;
}

.navbar-link-other-services-17 {
  cursor: pointer;
  height: 20px;
  letter-spacing: 0;
  margin-top: -1px;
  width: 39px;
}

.navbar-link-contact-us-8 {
  height: 20px;
  letter-spacing: 0;
  margin-top: -1px;
  width: 101px;
}

.icon-home-8 {
  height: 32px;
  left: 0;
  position: absolute;
  top: 0;
  width: 32px;
}

.megaphone-8 {
  height: 32px;
  left: 418px;
  position: absolute;
  top: 4px;
  width: 32px;
}

.icon-call-8 {
  height: 32px;
  left: 989px;
  position: absolute;
  top: 4px;
  width: 32px;
}

.question-8 {
  height: 32px;
  left: 871px;
  position: absolute;
  top: 3px;
  width: 32px;
}

.users-three-8 {
  height: 32px;
  left: 126px;
  position: absolute;
  top: 4px;
  width: 32px;
}

.icon-plane-8 {
  height: 32px;
  left: 292px;
  position: absolute;
  top: 0;
  width: 32px;
}

.bag-8 {
  height: 32px;
  left: 665px;
  position: absolute;
  top: 1px;
  width: 32px;
}

.rectangle-58-16 {
  background-color: var(--eerie-black);
  height: 3px;
  margin-right: 4.0px;
  margin-top: 8px;
  width: 1920px;
}

.home-tour-hong-kong {
  height: 19px;
  margin-left: 181.26px;
  margin-top: 33px;
  width: 495px;
}

.overlap-group4-3 {
  height: 2517px;
  margin-top: 33px;
  position: relative;
  width: 1924px;
}

.overlap-group1-8 {
  height: 2298px;
  left: 445px;
  position: absolute;
  top: 159px;
  width: 1098px;
}

.overlap-group-8 {
  height: 2298px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1098px;
}

.main-content {
  height: 2298px;
  left: 59px;
  position: absolute;
  top: 0;
  width: 980px;
}

.paragraph-13 {
  left: 79px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 1278px;
  width: 940px;
}

.group-103 {
  align-items: flex-start;
  display: flex;
  height: 96px;
  left: 138px;
  min-width: 779px;
  position: absolute;
  top: 1136px;
}

.flex-col-18 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 96px;
  position: relative;
  width: 353px;
}

.footer-8 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 256px;
  position: absolute;
  top: 2261px;
  width: 1924px;
}

.overlap-group3-5 {
  height: 3px;
  margin-right: 4.0px;
  position: relative;
  width: 1920px;
}

.line-1-8 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.rectangle-58-17 {
  background-color: var(--eerie-black);
  height: 3px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.flex-row-26 {
  align-items: center;
  display: flex;
  height: 239px;
  margin-left: 0;
  margin-top: 14px;
  min-width: 1632px;
}

.flex-col-19 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 239px;
  width: 452px;
}

.gray-line-worldwide-1-17 {
  height: 112px;
  margin-left: 7.0px;
  object-fit: cover;
  width: 194px;
}

.flex-row-27 {
  align-items: center;
  display: flex;
  margin-top: 8px;
  min-width: 452px;
}

.icon-location_pin-8 {
  height: 30px;
  width: 45px;
}

.surname-10 {
  letter-spacing: 0;
  margin-left: 11px;
  min-height: 26px;
  width: 396px;
}

.no-179-rua-do-campo-8 {
  letter-spacing: 0;
  margin-left: 7.0px;
  margin-top: 11px;
  min-height: 78px;
  width: 252px;
}

.frame-container-8 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-bottom: 45.0px;
  margin-left: 837px;
  min-height: 134px;
  width: 343px;
}

.frame-1-8 {
  align-items: flex-start;
  display: flex;
  gap: 60px;
  height: min-content;
  width: 343px;
}

.place-8 {
  letter-spacing: 0;
  margin-top: -1px;
  min-width: 59px;
}

.fqa-9 {
  cursor: pointer;
  letter-spacing: 0;
  margin-top: -1px;
  min-width: 42px;
}

.contact-us-8 {
  cursor: pointer;
  letter-spacing: 0;
  margin-top: -1px;
}

.frame-5-8 {
  align-items: center;
  display: flex;
  gap: 64px;
  height: min-content;
  margin-top: 60px;
  width: min-content;
}

.icon-8 {
  cursor: pointer;
  height: 48px;
  min-width: 48px;
}

